<div mk-layout-content-before-header>
  <div *mkLoadingPage="{checkPendingHttp: true, checkPendingRoute: true}">
    <mk-material-bar></mk-material-bar>
  </div>
</div>
<h1>Seja bem vindo ao <strong>PH</strong> Sistem <i>WEB</i></h1><br />
<mk-box header="Sobre o software" [isCollapsable]="false" [isRemovable]="false">
  <p>Este software foi desenvolvido conforme a necessidade de uma integração mobile com o software já existente em nossos clientes.</p>
</mk-box>

<mk-box header="Como usar" [isCollapsable]="false" [isRemovable]="false">
  <p>Se você já estiver visualizando este tutorial, quer dizer que já se logou ao software.</p>
  <p>Primeiramente deve saber que, como cliente as funções de relatório estarão relacionadas à conexão com o banco de dados da loja. Isso quer dizer que para acessar os dados da loja você precisa escolher antes a que loja deseja se conectar.</p>
  <p>Para se conectar aos dados de uma loja vinculada ao teu usuário, você deve clicar em cima do teu nome, localizado no canto superior direito e depois em <strong>Perfil</strong>.</p>
  <p>Aparecerá uma tela com os dados do usuário logado no canto superior esquerdo, e uma lista contendo os nome das lojas que possivelmente você poderá se conectar.</p>
  <p>Após escolher os dados da loja a que deseja você poderá clicar na opção <strong>Dashboard</strong> no menu a esquerda da tela.</p>
  <p>Bom proveito... Espero que goste da experiência...</p>
</mk-box>

<mk-box header="Importe" [isCollapsable]="false" [isRemovable]="false">
  <p>Nós da PH Sitem teremos o maior prazer em te ajudar caso tenha alguma dificuldade em usar nossos softwares.</p>
  <p>Contate-nos pelos telefones e emails abaixo:</p>
  <ul>
    <li>(21) 99998-8888</li>
    <li>(21) 2244-5566</li>
    <li>contato@phsistem.com.br</li>
  </ul>
</mk-box>

